name: CD Pipeline

on:
  workflow_run:
    workflows: ["CI Pipeline"]
    types:
      - completed

jobs:
  deploy:
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    uses: Ayoobkibrahim/react-vite-project/.github/workflows/reusable-cd.yaml@main
    with:
      release_name: react-vite
    secrets:
      KUBECONFIG_DATA: ${{ secrets.KUBECONFIG_DATA }}
