name: CD Pipeline

on:
  workflow_run:
    workflows: ["CI Pipeline"]
    types:
      - completed

jobs:
  deploy:
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    uses: Ayoobkibrahim/react-vite-project/.github/workflows/reusable-cd.yaml@main
    with:
      release_name: react-vite
    secrets:
      KUBECONFIG_DATA: ${{ secrets.KUBECONFIG_DATA }}



















# name: CD Pipeline

# permissions:
#   contents: read
#   actions: read

# on:
#   workflow_run:
#     workflows: ["CI Pipeline"]
#     types:
#       - completed

# jobs:
#   deploy:
#     if: ${{ github.event.workflow_run.conclusion == 'success' }}
#     runs-on: self-hosted

#     steps:

#       - name: Checkout code
#         uses: actions/checkout@v4
      
#       - name: Download Helm artifact
#         uses: actions/download-artifact@v4
#         with:
#           github-token: ${{ secrets.GITHUB_TOKEN }}
#           run-id: ${{ github.event.workflow_run.id }}
#           name: helm-package
#           path: helm-packages

#       - name: Setup Kubectl
#         uses: azure/setup-Kubectl@v3
      
#       - name: Setup Helm
#         uses: azure/setup-helm@v4

#       - name: Configure kubeconfig
#         run: |
#           echo "${{ secrets.KUBECONFIG_DATA }}" | base64 -d > kubeconfig
#           echo "KUBECONFIG=$PWD/kubeconfig" >> $GITHUB_ENV
      
#       - name: Verify cluster access
#         run: kubectl get nodes
      
#       - name: Deploy with Helm
#         run: |
#           helm upgrade --install react-vite helm-packages/*.tgz \
#             --set image.tag=build-${{ github.event.workflow_run.run_number }}



