name: CD Pipeline

permissions:
  contents: read

on:
  workflow_run:
    workflows: ["CI Pipeline"]
    types:
      - completed


jobs:
  deploy:
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Kubectl
        uses: azure/setup-Kubectl@v3
      
      - name: Setup Helm
        uses: azure/setup-helm@v4

      - name: Configure kubeconfig
        run: |
          echo "${{ secrets.KUBECONFIG_DATA }}" | base64 -d > kubeconfig
          echo "KUBECONFIG=$PWD/kubeconfig" >> $GITHUB_ENV
      
      - name: Verify cluster access
        run: kubectl get nodes
      
      - name: Deploy with Helm
        run: |
          helm upgrade --install react-vite helm-packages/*.tgz \
            --set image.tag=build-${{ github.run_number }}