name: Reusable CI Workflow

on: 
  workflow_call:
    inputs:
      app_path:
        required: true
        type: string
      image_name: 
        required: true
        type: string
    secrets:
      SONAR_TOKEN: 
        required: true
      DOCKER_USERNAME:
        required: true
      DOCKER_PASSWORD: 
        required: true


jobs:
  ci: 
    runs-on: self-hosted

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with: 
          node-version: 20
          cache: npm
      
      - name: Install dependencies
        run: npm ci

      - name: Run Unit Tests
        run: npm test
      
      - name: Build Application
        run: npm run build
      
      - name: SonarCloud Scan
        uses: SonarSource/sonarcloud-github-action@v2
        env: 
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        with:
          args: >
            -Dsonar.organization=ayoob-org
            -Dsonar.projectKey=Ayoobkibrahim_react-vite-project
            -Dsonar.sources=src 
            -Dsonar.exclusions=**/node_modules/**,**/dist/**
            -Dsonar.qualitygate.wait=true

      - name: Build & Push Image 
        run: | 
          docker build -t ${{ secrets.DOCKER_USERNAME }}/react-vite-app:build-${{ github.run_number }} .
          docker push ${{ secrets.DOCKER_USERNAME }}/react-vite-app:build-${{ github.run_number }}
      
      - name: Setup Helm
        uses: azure/setup-helm@v4
    
      - name:
        run: helm lint helm/react-vite
    
      - name: Package Helm Chart
        run: |
          mkdir -p helm-packages
          helm dependency update helm/react-vite || true
          helm package helm/react-vite --destination helm-packages

      - name: Upload Helm Package
        uses: actions/upload-artifact@v4
        with:
          name: helm-package
          path: helm-packages/*.tgz

